figure .h-img{
    width: 100px;
    height: 70px;
    margin-top: 5px;
}
.lacak{
    height: 40px;
    float: right;
    margin-top: -80px;
    margin-right: 5%;
    border-radius: 10px;
}

.h-box{
    box-sizing: border-box;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    width:96%;
    background-color: #ffffff;
    height: 80px;
}

.h-lacak{
    background-color: yellow;
    width: 120px;
    height: 30px;
}
 .button{
    width: 112px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #ffc520;
    color: #ffffff;
 }


 @media (max-width: 600px){
    figure .h-img{
        width: 80px;
        height: 70px;
        margin-left: 5%;
        margin-top: 5px;
    }
    .describ span{
        margin-top: 5px;
        display: block;
        margin-left: 10px;
        font-size: 12px;
    }
    .button{
        width: 80px;
        height: 30px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        background-color: #ffc520;
        color: #ffffff;
     }

     .lacak span{
         font-size: 12px;
     }
 }