
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
.brand-text-icon{
    
    font-size: 26px;
    margin-left: -20px;
    font-weight: 500;
    font-family: poppins, sans-serif;
    color: black;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 200;
    position: relative;
    letter-spacing: 2px;
    font-family: calibri;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 50px;
    background-color: #FEBD2E;
    z-index: 1;
}

.hero{
    width: 100% !important;
    height: 350px;
    background-color:  #FEBD2E;
}



.search{
    width: 500px !important;
}

.menu {
    display: flex;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}





.menu {
    display: flex;
}

.menu li a {
    padding: 10px 15px;
    color: #152C5B;
    font-size: 12px;
}



.user{
    margin-top: 15px !important;
    margin-right: 20px;
}
.chat{
    margin-top: 15px !important;
    margin-right: 20px;
}
.shop{
    margin-top: 15px !important;
}

.img-wrapper{
    height: 50px;
    width: 200px;
    background-size: cover;;
    margin-bottom: 0;
    margin-right: 50px;
    border-radius: 0.9375rem;
    overflow: hidden;
}

.category{
    margin-top: 20px;
    margin-bottom: 10px;
}
nav .nav-cart span{
    position: absolute;
    background: white;
    color: black;
    border-radius: 50%;
    font-size: 10px;
    margin-top: 7px;
    right: 178px;
    padding: 8px 5px;
}


@media (max-width:580px){
    .logo{
        display: none;
    }
    .search{
        width: 230px !important;
        margin-left: -60px;
    }
    .user{
        display: none;
    }
    nav .nav-cart span{
        position: absolute;
        background: white;
        color: black;
        border-radius: 50%;
        font-size: 10px;
        margin-top: 7px;
        right: 10px;
        padding: 2px 6px;
    }
}